@import "_config";

img {max-width:100%; vertical-align:top; border:none;}

.network_icon {display:inline-block; width:47px; height:47px; @include hide_text(); margin:0 -3px 0 0; background:image-url('sprite_footer_icons_2.png') 0 0 no-repeat; background-size:188px 47px;}
.icon_footer_linkedin {background-position:-47px 0;}
.icon_footer_twitter  {background-position:-94px 0;}
.icon_footer_medium  {background-position:-141px 0;}
