@import "_config";

$slide-width:1000px;
.section_scene {padding:0 0 1em !important; position:relative; min-height:500px;
  .banner_container {padding:0 !important;}
	figure {position:relative; margin:0;}
	figcaption {position:absolute; bottom:0; left:0; right:0; padding:0.5em; color:#fff; font-size:36px; text-shadow:0 0 2px #000; font-weight:600; line-height:1;}
}

.example_flybuys figcaption {right:55%; top:35%;}
.example_sharesight figcaption {top:35%; left:55%; text-align:right; bottom:auto;}
.example_homes figcaption {top:40%; left:60%; text-align:right; bottom:auto; width:34%;}
.section_alternate + .section_alternate.section_scene {margin-top:-2em;}

#slideshow_container {position:relative; width:100%; height:500px; overflow:hidden;
  ul {position: relative; display:table; margin:0; padding:0; list-style:none; width:$slide-width*3;}
  li {margin: 0px; display:table-cell; width:$slide-width; padding:0; height:500px;}
}
#carousel_nav {list-style:none;
  #carousel_btnleft, #carousel_btnright {text-decoration:none; position:absolute; bottom:20px; height:40px; width:55px; z-index:100; background-image:url('icon_carousel_arrow.png'); background-size:cover; background-repeat:no-repeat;
    &:hover {background-image:url('icon_carousel_arrow_hover.png');}
    &.hidden {display: none;}
  }
  #carousel_btnleft{ left:20px; }
  #carousel_btnright{ transform:rotate(180deg); left:$slide-width - 80;}
}

@media (min-width:1000px) {
  .section_scene {display:block;}
}
