@import "vars";
@import "mixins";

.technology {display:block; @include hide_text(); background-position:50% 50%; background-repeat:no-repeat; height:166px; background-size:50%;}
.technology_android       {background-image:url('#{$path_images}icon_technology_android.png');       min-width:123px;}
.technology_apple         {background-image:url('#{$path_images}icon_technology_apple.png');         min-width:117px; background-position:50% 40%;}
.technology_google_maps   {background-image:url('#{$path_images}icon_technology_google_maps.png');   min-width:130px; background-position:50% 55%;}
.technology_html5         {background-image:url('#{$path_images}icon_technology_html5.png');         min-width:102px;}
.technology_javascript    {background-image:url('#{$path_images}icon_technology_javascript.png');    min-width:125px;}
.technology_ruby_on_rails {background-image:url('#{$path_images}icon_technology_ruby_on_rails.png'); min-width:106px;}

@media (min-width:800px) {
	.technology {background-size:auto;}
}