@import "vars";
@import "mixins";

.section_post {margin:3em 1em; padding:1em 0; max-width:1000px; box-sizing:border-box;
  > blockquote {margin:1em 1em 2em;}
  > footer {margin:0 -1em -1em !important; background-color:#eee; padding:0.5em 1em; overflow:hidden;}

  .date {float:right; margin:0;
    a,
    a:visited {color:#999; text-decoration:none;}
  }
	.post_controls {float:right; list-style:none; margin:0 0 -.5em; padding:0; display:inline;
		li {display:inline-block; margin:0 0 0 1em;}
	}
  .tags {@include list_stripped(); display:inline;
    li {display:inline-block; margin-right:1em;}
    a:before {content:"#";}
    a,
    a:visited {color:#999; text-decoration:none;}
  }

  .date a:hover,
  .tags a:hover {text-decoration:underline;}

  .post_link {margin:-1em -1em 0; text-align:center;
  	.link_title {padding:2em 1em; margin:0; background:#7e000c; color:#fff; border-radius:5px 5px 0 0;
  		a {color:#fff; font-size:2em;}
  	}
  	.caption {padding:1px 1em;}
  }

  blockquote > p {
    &:before {content:"“";}
    &:after {content:"”";}
  }
}

.figure_post {margin:-1em -1em 0; position:relative; overflow:hidden;
	> a {display:block; margin:0 auto;
		img {border-radius:5px 5px 0 0;}
	}
	figcaption {position:absolute; transition:bottom .2s; bottom:-100%; left:0; right:0; padding:1em; color:#fff; text-shadow:0 0 5px #000; background:rgba(0,0,0,.2); background:linear-gradient(to bottom, transparent 0%,rgba(0,0,0,.3) 100%);
		p {margin:0;}
	}
	&:hover figcaption {bottom:0;}
}

.blog {
  img {height:auto;}
  figcaption p {margin-bottom:0;}
  figure {margin-right:0; margin-left:0;}
  figure + footer {margin-top:1em;}
  .heading > a,
  .heading > a:visited {color:inherit;}
  hr {border:none; margin:2em 0; height:1px; background:#ccc;}
}

#tumblr_controls {display:none;}

#blog_header {position:relative;
  p {position:absolute; top:50%; right:1em; margin:0;
    a {display:block; width:26px; height:26px; @include hide_text(); background:url('https://abletech.nz/images/icon_rss_small-98388ef7.png') 50% 50% no-repeat; background-size:contain; margin-top:-13px; border-radius:3px;}
  }
}

#pagination {
  ul {list-style:none; margin:0; overflow:hidden; padding:0 0 1px;}
  .previous {float:left;}
  .next {float:right;}
  p {text-align:center; margin:1em 0;}
}

@media (min-width:480px) {
  #pagination {
    ul {overflow:visible; padding:0;}
    p {margin:0 140px;}
  }
}
@media (min-width:600px) {
  .section_post {padding:1em; border:#eee solid 1px; border-radius:5px;}
  .figure_post {
  	figcaption {font-size:1.5em; padding:.5em .75em;}
  }
}
@media (min-width:1000px) {
  .section_post {margin:3em auto;
  	blockquote > p {font-size:2em;}
  }
  #blog_header {
    p a {width:52px; height:52px; margin-top:-26px;}
  }
}
