@import "vars";
@import "mixins";

#working_with {
	.heading {display:inline-block; padding:0 0 50px 0; position:relative;
    &:after {content:""; width:50px; height:45px; position:absolute; bottom:0; left:50px; background-position:0 0; background-size:50px 74px;}
  }
  ul {margin-top:1em;}
}

@media (min-width:640px) {
	#working_with {
		.heading {padding:0 60px 45px 0;
      &:after {left:auto; right:0;}
    }
	}
	#how_can_we_help {
		p {margin-right:33%;}
	}
}
