---
title: You + Abletech
description: Consider joining Abletech’s innovative thinkers who are enthusiastic about web and mobile development.
page_classes: you
---

<section class="section section_column section_column_banner">
  <div class="banner_container">
  	<h1 class="heading heading_section">
  		<span class="break">Abletech,</span>
  		<span class="break">Wellington</span>
  		<span class="break">and You.</span>
  	</h1>
  	<p class="paragraph_intro">
  		Sound like a good fit?
  		<% if data.jobs.count %>
  		<a href="/jobs">Have a look at our available jobs</a>.
  		<% else %>
  		<a href="mailto:hello@abletech.co.nz" class="button">Send us an email about yourself!</a>.
  		<% end %>
  	</p>
  </div>
</section>
<section class="section section_column section_aside">
  <aside>
    <figure class="figure figure_polaroid">
      <img src="/images/you_wellington.jpg" alt="The Wellington city-scape as seen from across the bay">
    </figure>
  </aside>
	<h1 class="heading heading_content">Wellington</h1>
	<p>Wellington is home to many things.</p>
  <p>It’s New Zealand’s political capital, cultural capital, culinary capital, the home of Te Papa, NZX and government ministries. The city is compact giving access to swimming beaches and rugged coastline, ferry and transport terminals, sports galore, concerts, gigs, family destinations and the natural paradise of Zealandia.</p>
	<p>Whatever your interests, it’s the perfect place to call home.</p>
	<p>If you think we’re sold on Wellington, you’re right!</p>
	<p>The lifestyle here is very good and we match it with a positive work experience. Not only is Abletech framed by a stunning waterfront and numerous mountain biking tracks, but we are also a world leader in the technology sector.</p>
</section>
<section class="section section_column section_aside">
  <aside>
    <figure class="figure figure_polaroid">
      <img src="/images/you_sean.jpg" alt="Sean works at a standing desk">
    </figure>
  </aside>
	<h1 class="heading heading_content">Our Customers</h1>
	<p>We have some very innovative companies as customers and our team provides deep engagement, technical leadership and unparalleled delivery. We love our customers and they love us!</p>
</section>
<section class="section section_column section_aside">
  <aside>
    <figure class="figure figure_polaroid">
      <img src="/images/you_ross_and_andy.jpg" alt="Ross and Andy discuss a problem">
    </figure>
  </aside>
	<h1 class="heading heading_content">Our Work</h1>
	<p>Without exception our team is enthusiastic about web and mobile application development, creating APIs, SaaS projects, mapping and visualisation solutions.  We work on challenging and interesting projects with our clients, utilising the best technologies. And we have a lot of fun as we do it.</p>
	<p>We understand that our lifestyles are better when they’re balanced so we make time for all sorts of things to round-out our work days.</p>
</section>
<section class="section section_column section_aside">
  <aside>
    <figure class="figure figure_polaroid">
      <img src="/images/you_naiki.jpg" alt="Naiki planning her next conference trip">
    </figure>
  </aside>
	<h1 class="heading heading_content">Personal Development</h1>
	<p>We value the ongoing skill development of our team and each year we attend conferences such as <a href="http://www.webstock.org.nz/">Webstock</a>, <a href="http://wdcnz.com/">WDCNZ</a> and <a href="http://rubyconf.org/">RubyConf</a> in addition to in-house training.</p>
</section>
<section class="section section_column section_aside">
  <aside>
    <figure class="figure figure_polaroid">
      <img src="/images/you_natalie.jpg" alt="Natalie working on the next bit of design-work">
    </figure>
  </aside>
	<h1 class="heading heading_content">Do any of these resonate with you?</h1>
	<ul>
		<li>Do you have intermediate to senior level experience developing and supporting Ruby on Rails applications?</li>
		<li>Are you familiar with front end technologies and a working knowledge of Linux and PostgreSQL?</li>
		<li>Do you have some experience with IOS or Android?</li>
		<li>Are you an innovative thinker, a team player, outcome focused, customer oriented and eager to learn and develop your skills?</li>
	</ul>
	<p><strong>You will fit right in.</strong></p>
	<p>
		Are you ready for a full-time position (or a +1 year engagement to test the waters) in Wellington?<br>
		A work permit for New Zealand is required. We can help make arrangements or you may be eligible for a Working Holiday Visa if you’re under 30.
	</p>
</section>
<section class="section section_column section_column_banner section_alternate">
  <div class="banner_container">
  	<h1 class="heading heading_content">Does working with Abletech sound like you?</h1>
  	<p>
      <a href="mailto:hello@abletech.co.nz" class="button button_banner">Send us an email about yourself!</a>
			<% if data.jobs.count %>
  		<a href="/jobs" class="button button_banner">Browse our available jobs</a>
  		<% end %>
    </p>
  </div>
</section>
