<nav class="section section_column section_column_banner section_nav">
	<ul class="list_separated">
		<% data.services.each do |s| %>
		<li class="nav_<%= s[:class] %>"><a href="<%= s[:url] %>"><%= s[:title].html_safe %></a></li>
		<% end %>
	</ul>
</nav>
