<nav class="section section_column section_column_banner section_nav">
	<ul class="list_separated">
		<li class="nav_apis"><a href="/work/services/apis/"><abbr title="Application Programming Interfaces">APIs</abbr></a></li>
		<li class="nav_mapping"><a href="/work/services/mapping/">Mapping</a></li>
		<li class="nav_mobile"><a href="/work/services/mobile/">Mobile apps</a></li>
		<li class="nav_rapid-projects"><a href="/work/services/rapid-projects/">Rapid projects</a></li>
		<li class="nav_saas"><a href="/work/services/saas/">SaaS</a></li>
		<li class="nav_web"><a href="/work/services/web/">Web apps</a></li>
	</ul>
</nav>
