<section class="section section_column section_column_banner">
  <div class="banner_container">
    <h1 class="heading heading_section"><%= current_page.data.job_title %></h1>
    <p class="paragraph_intro">At Abletech we build web + mobile solutions. We’re innovative with both our in-house products and for our clients.</p>
    <p class="paragraph_intro">We are looking for a Ruby on Rails software developer.</p>
  </div>
</section>

<section class="section section_column">

  <h2 class="heading heading_subsection">Snapshot of the work we’re doing</h2>

  <p>Building and growing our own SaaS businesses</p>
  <ul>
    <li>Understanding customer needs</li>
    <li>Identifying new opportunities</li>
    <li>Strategic moves into new markets or sectors</li>
    <li><a href="https://addressfinder.nz">AddressFinder.nz</a> and <a href="http://watchmygear.com">WatchMyGear.com</a></li>
  </ul>

  <p>Helping our clients transform their businesses</p>
  <ul>
    <li>Modern approaches and ‘cloud’ technologies</li>
    <li>Moving from a larger centralised technology stack to a set of distributed micro services</li>
    <li>Increased pace of delivery by shipping smaller pieces more regularly</li>
  </ul>

  <h2 class="heading heading_subsection">How we work</h2>

  <p>We have a commitment to code quality</p>
  <ul>
    <li>peer reviews</li>
    <li>supporting tools such as Code Climate</li>
    <li>monitoring test coverage with Travis CI</li>
    <li>Rocket espresso machine == better code</li>
  </ul>

  <p>Continuous integration and delivery</p>
  <ul>
    <li>making deployment/shipping an everyday task</li>
    <li>making it easy</li>
  </ul>

  <p>Continuous Improvement</p>
  <ul>
    <li><a href="http://blog.abletech.nz/post/113817462848/re-building-addressfinder-nz">Measuring and building fast front-ends</a></li>
    <li>Mobile First and Progressive Enhancement</li>
  </ul>

  <p>Delighting the customer</p>
  <ul>
    <li>We listen to and understand the underlying problem or need, rather than just coding the solution that first appears</li>
    <li>Collaborating with our customers by creating multi-role teams. Abletech technical staff collaborate with our clients to deliver a great result together</li>
    <li>Due to the calibre of our team, and our proven track record, we’re very fortunate to be able to select the clients we work with</li>
  </ul>

  <h2 class="heading heading_subsection">The Abletech team</h2>

  <p>Active within our community</p>
  <ul>
    <li>All attend RubyConf AU each year</li>
    <li>Participate in Webstock, AWS Summit, Kiwicon, WDCNZ etc.</li>
    <li>Committed to continuous learning</li>
  </ul>

  <p>Supporting Wellington</p>
  <ul>
    <li>Leading, speaking at and volunteering</li>
    <li>Summer of Tech, Wellington Girls’ College, RailsGirls, WellRailed, Enspiral Dev Academy, Startup Weekend, Charity-IT Hackathon etc.</li>
  </ul>
</section>

<section class="section section_column section_column_banner section_alternate">
  <div class="banner_container">
    <h2 class="heading heading_subsection">What next?</h2>
    <ul>
      <li>Learn about our team on our blog - <a href="http://blog.abletech.nz">blog.abletech.nz</a></li>
      <li>Find out about <a href="https://abletech.nz/team/you/">Wellington, Abletech and you</a></li>
      <li>Please email or phone Carl for a confidential discussion: <a href="mailto:carl@abletech.nz">carl@abletech.nz</a> or 021 222 6848</li>
      <li>Let’s talk!</li>
    </ul>

    <p><a class="button button_banner" href="mailto:carl@abletech">Email Carl</a></p>
  </div>
</section>

<section class="section section_column section_column_banner">
  <div class="banner_container">
    <figure class="figure figure_polaroid">
      <img src="/images/welcomewall.png" alt="Welcome">
    </figure>
  </div>
</section>
