---
title: Front-end Developer
page_classes: jobs
description: Do you get a kick out of building web-based UIs? If so, get in touch!
job_title: Front-end Developer
---

<section class="section section_column section_column_banner">
  <div class="banner_container">
    <h1 class="heading heading_section"><%= current_page.data.job_title %></h1>
    <p class="paragraph_intro">At Abletech we love building for The Web™. We are looking for an experienced Front-end Developer who does too.</p>
  </div>
</section>

<section class="section section_column">

	<h2 class="heading heading_subsection">What experience do you need?</h2>
	<p>Ideally, you should have many years of experience as a Front-end Developer. If not, do you like working with HTML and CSS?</p>
	<p>You <em>should</em> have:</p>
	<ul>
		<li>great HTML and CSS skills</li>
		<li>demonstrable experience creating cross-browser and mobile compatible websites (<abbr title="Responseive Web Design">RWD</abbr>, Mobile First, etc)</li>
		<li>a good understanding of templating systems</li>
		<li>experience working with distributed version control systems such as Git and GitHub</li>
		<li>some JavaScript/jQuery experience</li>
	</ul>
	<p>Bonus points if you have:</p>
	<ul>
		<li>a good understanding of Web Accessibility</li>
		<li>experience writing unobtrusive JavaScript</li>
		<li>some understanding of Web Performance Optimisations</li>
		<li>experience creating Pattern Libraries and Styleguides.</li>
	</ul>

	<h2 class="heading heading_subsection">What sort of work will you be doing?</h2>
	<p>You’ll be spending most of your time working with our existing Front-end Developer, Shaun. Together you’ll be building web-based user interfaces for our clients, or enriching the front-end of our various in-house products, such as <a href="https://addressfinder.nz/">AddressFinder</a>. We like <a href="https://en.wikipedia.org/wiki/Pair_programming">Pair-Programming</a> here at Abletech, so it’ll be an opportunity to improve your skills, and make our front-end work even better.</p>
	<p>The majority of the front-end work we do is in good old HTML and CSS, but that doesn’t mean we don’t get to dabble with fancy-pants JavaScript frameworks such as Angular and D3.</p>
	<p>On the server side, we mainly work within Ruby-based frameworks such as Rails and Middleman, but we seem to be doing an increasing amount of work within the Node.js stack.</p>

</section>

<section class="section section_column section_column_banner section_alternate">
  <div class="banner_container">
    <h2 class="heading heading_subsection">What next?</h2>
    <ul>
      <li>Learn about our team on our blog - <a href="http://blog.abletech.nz">blog.abletech.nz</a></li>
      <li>Find out about <a href="https://abletech.nz/team/you/">Wellington, Abletech and you</a></li>
      <li>Please email or phone Carl for a confidential discussion: <a href="mailto:carl@abletech.nz">carl@abletech.nz</a> or 021 222 6848</li>
      <li>Let’s talk!</li>
    </ul>

    <p><a class="button button_banner" href="mailto:carl@abletech.nz">Email Carl</a></p>
  </div>
</section>

<section class="section section_column section_column_banner">
  <div class="banner_container">
    <figure class="figure figure_polaroid">
      <img src="/images/welcomewall.png" alt="Welcome">
    </figure>
  </div>
</section>
