---
title: Jobs at Abletech
description: We’re hiring Ruby web developers right here in Wellington, New Zealand
page_classes: jobs
---

<section class="section section_column section_column_banner">
  <div class="banner_container">
    <h1 class="heading heading_section">Jobs at Abletech</h1>
  </div>
</section>

<section class="section section_column">
<% if data.jobs.count > 0 %>
  <h2 class="heading heading_subheading">We’re hiring</h2>
  <p>We have <%= pluralize(data.jobs.count, 'position', 'positions') %> available, based at our offices in Wellington.</p>
  <ul>
  	<% data.jobs.each do |job| %>
  	<li><a href="<%= job[:url] %>"><%= job[:title] %>, <%= job[:location] %></a></li>
  	<% end %>
  </ul>
  <p>We’d love to meet you.</p>
<% else %>
	<h2 class="heading heading_subheading">Come say Hi!</h2>
	<p>While we don’t have any positions open at the moment, we’re always looking to meet competent web workers.</p>
	<p><a href="/contact">Get in touch</a>, we’d love to meet you.</p>
<% end %>
</section>
