---
title: Jobs at Abletech
description: We’re hiring Ruby web developers right here in Wellington, New Zealand
page_classes: jobs
---

<section class="section section_column section_column_banner">
  <div class="banner_container">
    <h1 class="heading heading_section">Jobs at Abletech</h1>
  </div>
</section>

<section class="section section_column">
  <h2>We’re Hiring</h2>

  <p>We have two positions available, both based at our Wellington office.</p>

  <ul>
    <li><a href="/jobs/senior-ruby-developer">Senior Ruby Developer, Wellington</a></li>
    <li><a href="/jobs/intermediate-ruby-developer">Intermediate Ruby Developer, Wellington</a></li>
  </ul>

  <p>We’d love to meet you.</p>
</section>
