---
title: "Abletech Services | Mapping"
description: Need a mapping solution? Abletech integrate Google Maps and develop map-based applications tailored to your needs.
page_classes: simple_page services_section service_page_mapping work
---

<section class="section section_column section_column_banner">
  <div class="banner_container">
    <h1 class="heading heading_section">Abletech Online Maps and Geospatial Applications</h1>
    <p class="paragraph_intro">
      Want to see your business locations on a map?<br>
      What’s the story behind your data?<br>
      How can your statistics reveal the big picture for your business?
    </p>
  </div>
</section>
<section class="section section_column">
  <aside>
    <a href="http://watchmygear.com/">
      <figure class="figure figure_polaroid">
        <img src="/images/service_mapping_watch_my_gear.jpg" alt="">
        <figcaption>Keep track of your assets using WatchMyGear</figcaption>
      </figure>
    </a>
  </aside>
  <p>Abletech builds user-friendly systems to help businesses convey data to groups, plan marketing campaigns, present location boundaries and report on coverage. We take ‘location specific data’ and tailor maps to show the information visually. No matter how complex your data, we can map it.</p>
  <p>Whether you want to know where things are, or be able to visualise vast quantities of data to see trends and patterns, we can help.</p>
  <p>If your business has locations, we can map them!</p>
  <p>Examples:</p>
  <ul>
    <li><a href="http://find.bnz.co.nz/">Find a BNZ store, an ATM or a Business Specialist</a></li>
    <li><a href="https://addressfinder.nz/docs/address_bulk_api/">Get addresses within a defined area</a></li>
    <li><a href="http://watchmygear.com/">See your asset locations</a></li>
    <li><a href="http://www.journeyplanner.org.nz/">Plan your cycling or walking journey</a></li>
    <li><a href="http://www.kiwibank.co.nz/locations/">Find a KiwiBank or a PostShop</a></li>
    <li><a href="http://www.aedlocations.co.nz/">Vital AED Location information</a></li>
    <li><a href="http://www.mapmysites.com/">Tailor map apps to your own sites or locations</a></li>
  </ul>
</section>
<section class="section section_column section_column_banner section_alternate">
  <div class="banner_container">
    <h1 class="paragraph paragraph_intro">We’d love to talk with you about your online mapping or geodata visualisation ideas.</h1>
    <p><a href="mailto:hello@abletech.nz" class="button button_banner">Get in touch!</a></p>
  </div>
</section>
<section class="section section_column section_column_banner">
  <div class="banner_container">
    <figure class="figure figure_polaroid">
      <img src="/images/services_photo_mapping.jpg" alt="">
    </figure>
  </div>
</section>
