---
title: "Abletech Services | Mobile development"
description: Need a responsive mobile website? Abletech love mobile development: making responsive mobile apps and mobile-friendly websites for smartphones, tablets and ipads.
page_classes: simple_page services_section service_page_mobile work
---

<section class="section section_column section_column_banner">
  <div class="banner_container">
  	<h1 class="heading heading_section">Mobile apps</h1>
  	<p class="paragraph_intro">Smartphones and tablet devices are changing the traditional view of the internet. Mobile devices keep you connected from just about anywhere. They offer the opportunity to tailor a service, information or interaction with the end-user through purpose built apps.</p>
  </div>
</section>
<section class="section section_column">
  <aside>
    <figure class="figure figure_polaroid">
      <img src="/images/service_mobile_journey_planner.jpg" alt="">
    </figure>
  </aside>
	<p>Abletech will work with you to get the most out of the mobile revolution. We have extensive experience developing stand-alone applications or integrating them into a wider suite of tools and web products.</p>
	<p>Did you know?</p>
	<ul>
		<li>88% of New Zealanders use a mobile device every day</li>
		<li>Smartphones are the preferred device for research, banking and shopping</li>
		<li>4 out of 5 consumers use smartphones to shop</li>
		<li>Smartphones are one of the fastest growing international markets for any product</li>
	</ul>
	<p>Advantages of mobile apps:</p>
	<ul>
		<li>offer your customers unparalleled convenience</li>
		<li>very fast growing sector that offers your business new opportunities</li>
		<li>attracts new customers and creates new revenue opportunities from existing customers</li>
	</ul>
</section>
<section class="section section_column section_column_banner">
  <div class="banner_container">
    <figure class="figure figure_polaroid">
      <img src="/images/services_photo_founders.jpg" alt="">
    </figure>
  </div>
</section>
