---
title: "Services: Rapid Projects | Abletech"
description: Got a great idea for a product or startup that you need developed? Abletech’s Rapid Projects team can help you realise your ideas.
page_classes: simple_page services_section service_page_rapid_projects work
---

<section class="section section_column section_column_banner">
  <div class="banner_container">
  	<h1 class="heading heading_section">Rapid projects</h1>
  	<p class="paragraph_intro">
  		Do you have a great idea?<br>
  		Need help demonstrating its value to others?<br>
  		Not sure your idea will work in practice?
  	</p>
  </div>
</section>
<section class="section section_column">
	<aside>
		<figure class="figure figure_polaroid">
			<img src="/images/service_rapid-projects.jpg" alt="">
			<figcaption>NZEI comparison calculator</figcaption>
		</figure>
	</aside>
	<p>Abletech’s Rapid Projects team will help you to understand more about what is possible.  You’ll gain first-hand experience of how efficient our technologies are.</p>
	<h2 class="heading heading_content">How does it work?</h2>
	<ol>
		<li>We meet with you and discuss the plan.</li>
		<li>We get started on the initial build.</li>
		<li>You stay in the loop and we get your feedback on the content and scope of the project.</li>
		<li>You may wish to change the plan and adapt or enhance your ideas.</li>
		<li>We deliver your solution, quickly.  Deploy it to your own servers or at our data centre.</li>
	</ol>
	<p>Examples:</p>
	<ul>
		<li>Plotting locations on a Google Map</li>
		<li>Using the Twitter API</li>
		<li>Receiving credit-card payments</li>
		<li>Connecting to a 3rd-party system</li>
		<li>Trialling virtualisation</li>
		<li>Proving a connection to LDAP or ActiveDirectory</li>
		<li>Employee Directory (from Excel)</li>
		<li>Customer newsletter using Google Spreadsheet mail merge</li>
		<li>Log file analyser</li>
		<li>Online address book</li>
	</ul>
	<p>Rapid Projects are charged on a simple time and materials basis.</p>
</section>
<section class="section section_column section_column_banner">
  <div class="banner_container">
  	<figure class="figure figure_polaroid">
  		<img src="/images/services_photo_rapid-projects-team.jpg" alt="">
  	</figure>
  </div>
</section>
