---
title: "Abletech Services | Web development"
description: Need a web-based application or a static website? Abletech make websites and web applications that work.
page_classes: simple_page services_section service_page_web work
---

<section class="section section_column section_column_banner">
  <div class="banner_container">
  	<h1 class="heading heading_section">Web apps</h1>
  	<p class="paragraph_intro">Web applications are still in their infancy when it comes to their capabilities and potential to revolutionise business, education, healthcare, social interactions - really just about anything!</p>
  </div>
</section>
<section class="section section_column">
	<aside>
		<figure class="figure figure_polaroid">
			<img src="/images/service_webapps_youshop.png" alt="">
		</figure>
	</aside>
	<p>Web apps offer sophisticated functionality from inside the web browser. The combination of broadband internet, modern browsers and a web application provide the capability to turn traditional paradigms on their head. Your organisation is likely to have internal workflows or external interactions with customers or suppliers that could be both streamlined and greatly enhanced by a secure web application.</p>
	<ul>
		<li>99% of our customers continue to choose us after their first project</li>
		<li>1<sup>st</sup> - we’re pioneers in the use of new technologies like Ruby On Rails</li>
		<li>We fix before it breaks! We’re constantly doing thorough testing & improvements</li>
		<li>22 staff - we’re big enough to be reliable and small enough to be efficient</li>
	</ul>
	<p>Advantages of Web apps:</p>
	<ul>
		<li>accessible on the web from anywhere</li>
		<li>speed up interaction with near instant communication</li>
		<li>fast to deploy, use and maintain</li>
	</ul>
</section>
<section class="section section_column section_column_banner">
  <div class="banner_container">
    <figure class="figure figure_polaroid">
      <img src="/images/services_photo_jordan.jpg" alt="">
    </figure>
  </div>
</section>
