---
title: Contact Abletech
description: Contact Abletech by phone, email or come and visit!
page_classes: contact
---

<section id="contact_details_container" class="section section_column section_column_banner" itemscope itemtype="http://schema.org/Organization">
	<div class="banner_container">
    <h1 class="heading heading_page">Get in touch!</h1>
  	<ul class="contact_details">
  		<li class="schema_data">
  			<strong itemprop="name">Abletech</strong>
  		</li>
  		<li class="contact_international">
  			<strong>International</strong>
  			<a href="tel:+6449103100" itemprop="telephone">+64 4 910 3100</a>
  		</li>
  		<li class="contact_freephone">
  			<strong>Freephone</strong>
  			<a href="tel:0800142253">0800 14 ABLE</a>
  		</li>
  		<li class="contact_physical_address">
  			<strong>Physical address</strong>
  			<span>Level 7</span><br>
  			<span>186 Willis Street</span><br>
  			<span>Te Aro</span><br>
  			<span>Wellington</span> <span>6011</span><br>
  			<span>New Zealand</span>
  		</li>
  		<li class="contact_postal_address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  			<strong>Postal address</strong>
  			<span>Abletech</span><br>
  			<span itemprop="postOfficeBoxNumber">PO Box 25-346</span><br>
  			<span itemprop="streetAddress">Panama Street</span><br>
  			<span itemprop="addressLocality">Wellington</span> <span itemprop="postalCode">6146</span><br>
  			<span itemprop="addressCountry">New Zealand</span>
  		</li>
  	</ul>
  	<h2 class="a11y">Reach out to us on:</h2>
  	<p class="contact_email"><a href="mailto:hello@abletech.co.nz" itemprop="email">hello@abletech.co.nz</a></p>
  </div>
</section>
<section id="section_map" class="section section_column">
	<p>
		<a href="https://goo.gl/maps/PxQJm">
			<img src="/images/map_abletech_compressed.png" alt="Map to Abletech. Level 7, 186 to 190 Willis Street, Te Aro, Wellington">
		</a>
	</p>
</section>
