---
hide_from_sitemap: true
---

<div class="banner_container">
  <div id="slideshow_wrapper">
  	<div id="slideshow_container">
  		<ul>
  			<li id="slideshow-sharesight" class="example example_sharesight">
  				<figure>
            <%= inline_jpg('slide_sharesight_50.jpg') %>
  					<figcaption>We helped Sharesight build an award-winning platform for <abbr title="Do it yourself">DIY</abbr> investors.</figcaption>
  				</figure>
  			</li>
  			<li id="slideshow-youshop" class="example example_youshop">
  				<figure>
            <%= inline_jpg('slide_youshop_50.jpg') %>
  					<figcaption>We connect foreign postal services for YouShop, so kiwis can buy more variety from overseas.</figcaption>
  				</figure>
  			</li>
  			<li id="slideshow-flybuys" class="example example_flybuys">
  				<figure>
  					<%= inline_jpg('slide_flybuys_50.jpg') %>
  					<figcaption>We rebuilt the Fly Buys platform, delivering around half a million daily transactions for NZ’s largest loyalty programme.</figcaption>
  				</figure>
  			</li>
  		</ul>
  	</div>
  </div>
  <nav>
    <ul id="carousel_nav" class="selected_0">
      <li><a href="javascript:homepageScroller.scrollToElement(document.querySelector('#slideshow-sharesight'))">Sharesight</a></li>
      <li><a href="javascript:homepageScroller.scrollToElement(document.querySelector('#slideshow-youshop'))">Youshop</a></li>
      <li><a href="javascript:homepageScroller.scrollToElement(document.querySelector('#slideshow-flybuys'))">Flybuys</a></li>
    </ul>
  </nav>
</div>
