---
title: Abletech
description: Abletech design and build web and mobile applications. Based in Wellington, New Zealand. Love development with tools like Ruby, Ruby on Rails (RoR), Middleman and other Open Source Software (OSS) stacks.
page_classes: home
---

<header id="homepage_masthead" class="section section_column section_column_banner">
  <div class="banner_container">
    <h1 class="heading heading_page">
      <span class="break"><span class="replace replace_js replace_greeting">Hello there.</span></span>
      <span class="break">We turn ideas into</span>
      <span id="meet" class="break">web <span class="replace replace_no_js replace_plus">and</span> mobile apps.</span>
    </h1>
    <div id="logos_container">
      <noscript>
        <ul class="logo_blocks logos">
          <li>
            <a class="logo_radio_nz" href="/work/#RadioNewZealand"    >Radio New Zealand</a>
            <a class="logo_c_w_j_p"  href="/work/#CyclingAndWalkingJP">Cycling & Walking Journey Planner</a>
          </li>
          <li>
            <a class="logo_nzx"        href="/work/#NZX"       >NZX</a>
            <a class="logo_sharesight" href="/work/#ShareSight">Sharesight</a>
          </li>
          <li>
            <a class="logo_kiwi_bank"   href="/work/#Kiwibank"  >Kiwibank</a>
            <a class="logo_met_service" href="/work/#MetService">MetService</a>
          </li>
          <li>
            <a class="logo_nz_post"    href="/work/#NewZealandPost"   >New Zealand Post</a>
            <a class="logo_loyalty_nz" href="/work/#LoyaltyNewZealand">Loyalty New Zealand</a>
          </li>
          <li>
            <a class="logo_msd"         href="/work/#MinistryOfSocialDevelopment">Ministry of Social Development</a>
            <a class="logo_reg_the_dog" href="/work/#RegTheDog"                  >RegTheDog</a>
          </li>
        </ul>
      </noscript>
    </div>
  </div>
</header>
<section id="carousel" class="section section_column section_column_banner section_scene"></section>
<section id="client_testimonials" class="section section_column">
  <h1>Our clients say…</h1>
  <div id="quote">
    <blockquote>
      <p>Abletech gave us outstanding technical know-how and support</p>
      <footer>
        <p><cite>Scott Ryburn</cite> - Product Manager, Sharesight</p>
      </footer>
    </blockquote>
  </div>
  <p><a class="button button_banner" href="/work/">Our work</a></p>
</section>
<section id="our_products" class="section section_column section_column_banner section_alternate">
  <div class="banner_container">
    <h1 class="heading heading_subsection">Check out Abletech’s in-house products…</h1>
    <ul>
      <li id="product_watch_my_gear"><a href="http://watchmygear.com/">Watch my gear</a></li>
      <li id="product_addressfinder"><a href="https://addressfinder.nz">Addressfinder</a></li>
    </ul>
  </div>
</section>
<section id="blog_latest" class="section section_column"></section>
<% content_for :load_page_script do %>
addScript('<%= asset_path(:js, "page.home") %>');
<% end %>
